<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>
        function formatDate(date) {
            return dayjs(date).format('YYYY-MM-DD HH:mm:ss');
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.date').forEach(el => {
                el.textContent = formatDate(el.dataset.raw);
            });
        });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> 
    {{!-- TODO: Change this to local instance after POC faze  --}}


</head>

<body class="bg-gray-50 text-gray-900 min-h-screen p-6">
    <header class="mb-6">
        <h1 class="text-2xl font-bold">📡 Device Dashboard</h1>
    </header>

    {{{body}}}
</body>

</html>